<style type="text/css">
    body, html, .body {
        /*background: #f3f3f3 !important; */
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        color: #444;
    }

    td {
        width: 100%;
        text-align: center;
    }

    .advertencia{
        color: #1F497D;
    }
</style>
<container>
    <spacer size="16"></spacer>
    <row>
        <columns>
            <center>
                <img src="https://www.matisses.co/360/360_150h.png" alt="logo">
            </center>
        </columns>
    </row>
    <row>
        <columns large="8">
            <table style="width: 100%">
                <tr>
                    <td style="width: 100%; text-align: center;">
                        <br/>
                        <h1>Certificado laboral</h1>
                    </td>
                </tr>
            </table>
        </columns>
        <columns large="8">
            <table style="width: 100%">
                <tr>
                    <td>
                        <br/>
                        Buen d&iacute;a; ${mensaje}
                    </td>
                </tr>
                <tr>
                    <td class="advertencia" style="text-align: justify">
                        <br/>
                        <br/>
                        Este es un mensaje generado autom&aacute;ticamente, por favor no lo responda.
                        Si tiene alguna duda por favor no dude en contactarnos en nuestras l&iacute;neas de atenci&oacute;n al cliente
                        <b> 444 04 34 (opci&oacute;n 1)</b> en Medell&iacute;n o <b>01 8000 410 044</b> en el resto del pa&iacute;s.
                    </td>
                </tr>
                <tr>
                    <td class="advertencia" style="text-align: justify">
                        <br/>
                        <br/>
                        Este mensaje y los archivos anexos son confidenciales, privilegiados y/o protegidos por derechos de autor.
                        Est&aacute;n dirigidos &uacute;nica y exclusivamente para uso del destinatario.
                        Su reproducci&oacute;n, distribuci&oacute;n, lectura y uso est&aacute;n prohibidos a cualquier persona diferente y puede ser ilegal.
                        Si por error lo ha recibido, por favor disc&uacute;lpenos, notif&iacute;quenoslo y elim&iacute;nelo.
                        Las opiniones, conclusiones y otra informaci&oacute;n contenida en este correo no relacionada con el negocio oficial del remitente, 
                        deben entenderse como personales y de ninguna manera son avaladas por <b>DISTRIBUCIONES BARU &REG;</b> y/o sus filiales.
                    </td>
                </tr>
            </table>
        </columns>
    </row>
</container>