<style type="text/css">
    body, html, .body {
        /*background: #f3f3f3 !important; */
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        color: #444;
    }

    .advertencia{
        color: #1F497D;
    }
</style>
<container>
    <spacer size="16"></spacer>
    <row>
        <columns>
            <center>
                <img src="https://img.matisses.co/360/360_150h.png" alt="logo">
            </center>
        </columns>
    </row>
    <row>
        <columns large="8">
            <table style="width: 100%"><tr><td style="width: 100%; text-align: center;"><br/><h1>Asesor sin comisionar</h1></td></tr></table>
        </columns>
        <columns large="8">
            <table style="width: 100%; text-align: center">
                <tr>
                    <td>
                        <table style="width: 85%">
                            <tr>
                                <td style="width: 100%; text-align: center;">
                                    <br/>
                                    El asesor <b>${asesor}</b>, lleva 3 o m&aacute;s meses sin comisionar.
                                </td>
                            </tr>
                            <tr>
                                <td class="advertencia" style="text-align: center">
                                    <br/>
                                    <br/>
                                    Este es un mensaje generado autom&aacute;ticamente, por favor no lo responda.
                                </td>
                            </tr>
                            <tr>
                                <td class="advertencia" style="text-align: justify">
                                    <br/>
                                    Este mensaje y los archivos anexos son confidenciales, privilegiados y/o protegidos por derechos de autor.
                                    Est&aacute;n dirigidos &uacute;nica y exclusivamente para uso del destinatario.
                                    Su reproducci&oacute;n, distribuci&oacute;n, lectura y uso est&aacute;n prohibidos a cualquier persona diferente y puede ser ilegal.
                                    Si por error lo ha recibido, por favor disc&uacute;lpenos, notif&iacute;quenoslo y elim&iacute;nelo.
                                    Las opiniones, conclusiones y otra informaci&oacute;n contenida en este correo no relacionada con el negocio oficial del remitente, 
                                    deben entenderse como personales y de ninguna manera son avaladas por <b>DISTRIBUCIONES BARU &REG;</b> y/o sus filiales.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </columns>
    </row>
</container>