<table align="center" style="width: 600px; padding: 10px; border-collapse: collapse;">
    <tr>
        <td style="text-align: center; padding: 0">
            <img src="https://www.matisses.co/mailing/notificacion/images/logo.png">
        </td>
    </tr>

    <tr>
        <td>
            <div style="max-width: 600px; color: #626262; text-align: center; font-family: serif">

                <p style="font-size: 15pt; margin: 0">
                    <br>¡Hola <strong>${nombre}</strong>!<br><br> Tu c&oacute;digo de acceso para listas de regalos Matisses es 
                </p>
                <h1 style="font-size: 30pt; color: #BD9E1F; margin: 10px 0; text-align:center; font-family: Sans-serif; font-weight: bold;">
                    ${codigo}.
                </h1>
                <p style="font-size: 13pt; margin: 0">
                    Recuerda que este c&oacute;digo es v&aacute;lido hasta las 12 de la noche de hoy.
                </p>
            </div>
        </td>
    </tr>
</table>
