<table align="center" style="width: 600px; padding: 10px; border-collapse: collapse;">
    <tr>
        <td style="text-align: center; padding: 0">
            <img src="https://www.matisses.co/mailing/notificacion/images/logo.png">
        </td>
    </tr>

    <tr>
        <td>
            <div style="max-width: 600px; color: #626262; text-align: center; font-family: serif">
                <h1 style="font-size: 30pt; color: #BD9E1F; margin: 0 0 7px; text-align:center; font-weight: normal;">
                    Nuevo mensaje de contacto
                </h1>
                <p style="font-size: 15pt; margin: 0">
                    <br><b>${nombre}</b> acaba de escribir al formulario de contacto de listas de regalos.<br>
                    <b>Asunto:</b> ${asunto}<br><br>
                    Mensaje:<br>
                    ${mensaje}<br><br><br>
                    <small>Para responderle, simplemente responde este mensaje</small>
                </p>
            </div>
        </td>
    </tr>
</table>
