<table align="center" style="width: 600px; padding: 10px; border-collapse: collapse;">
    <tr>
        <td style="text-align: center; padding: 0">
            <img src="https://www.matisses.co/mailing/notificacion/images/logo.png">
        </td>
    </tr>

    <tr>
        <td>
            <div style="max-width: 600px; color: #626262; text-align: justify; font-family: Sans-serif">
                <h1 style="font-size: 30pt; color: #BD9E1F; margin: 0 0 7px; text-align:center; font-weight: normal;">Tu proceso de pago ha caducado</h1>
                <p style="font-size: 15pt">
                    <br>¡Hola ${nombre}!<br><br> Lamentamos informarte que el proceso de pago que ten&iacute;as pendiente con nosotros ha caducado.<br>
                    Si deseas iniciar de nuevo el proceso de compra para la lista de ${nombreLista}, haz clic <a href="${urlLista}">aqu&iacute;</a>
                </p>
            </div>
        </td>
    </tr>
</table>
