<table align="center" style="width: 600px; padding: 10px; border-collapse: collapse;">
    <tr>
        <td style="text-align: center; padding: 0">
            <img src="https://www.matisses.co/mailing/notificacion/images/logo.png">
        </td>
    </tr>

    <tr>
        <td>
            <div style="max-width: 600px; color: #626262; text-align: center; font-family: serif">
                <h1 style="font-size: 30pt; color: #BD9E1F; margin: 0 0 7px; text-align:center; font-weight: normal;">
                    ¡Tus regalos de ayer!
                </h1>
                <p style="font-size: 15pt; margin: 0">
                    <br>¡Hola <strong>${nombre}</strong>!<br>Estos son los regalos que recibiste ayer:<br><br>
                </p>
                <table style="width: 100%; text-align: center" cellpadding="0" cellspacing="0">
                    ${htmlProductos}
                </table>
            </div>
        </td>
    </tr>
</table>
