<style type="text/css">
    body, html, .body {
        font-family: "Century Gothic"; 
        font-size: 16px; 
        font-style: normal; 
        font-weight: 500;
        color: #444;
    }

    hr {
        color: #D9D6D6;
        height: 1px;
        border: 0;
    }

    p span a {
        color: #FFFFFF;
    }
</style>
<container>
    <spacer size="16"></spacer>
    <row>
        <columns large="8">
            <table style="width: 100%; text-align: center">
                <tr>
                    <td>
                        <table style="width: 60%; text-align: center">
                            <tr>
                                <td>
                                    <img src="https://img.matisses.co/360/BCS/cont-header.png"/>
                                </td>
                            </tr>
                            <tr style="letter-spacing: 3.5px; color: #E07D7D;">
                                <td>
                                    LISTA DE REGALOS
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left; padding-top: 60px;">
                                    <b>Hola ${cliente},</b>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left; padding-top: 20px; padding-bottom: 20px;">
                                    ${comentario}
                                </td>
                            </tr>
                            ${mensaje}
                            <tr>
                                <td>
                                    ${tabla}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right; padding-bottom: 40px; cursor: pointer;">
                                    <a href="${link}">
                                        <img src="https://img.matisses.co/360/BCS/irALista.png"/>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </columns>
    </row>
</container>