<style type="text/css">
    body, html, .body {
        font-family: "Century Gothic"; 
        font-size: 16px; 
        font-style: normal; 
        font-weight: 500;
        color: #444;
    }

    hr {
        color: #D9D6D6;
        height: 1px;
        border: 0;
    }
</style>
<container>
    <spacer size="16"></spacer>
    <row>
        <columns large="8">
            <p style="font-size: 1px; opacity: 0; color: #FFF">Compra online todos nuestros artículos y disfruta de lo mejor en mobiliario y accesorios para tu hogar.</p>
            <table style="width: 100%; text-align: center">
                <tr>
                    <td>
                        <table style="width: 40%; text-align: left">
                            <tr>
                                <td>
                                    <img src="https://img.matisses.co/360/BCS/cont-header.png" alt="header"/>
                                    <hr>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left; font-size: 14px;">
                                    <p>
                                        <b style="color: #6D9197; font-size: 20px">Hola ${cliente}</b>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">
                                    <br/>
                                    <br/>
                                    <b>RESPUESTA</b>
                                    <hr>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    A continuación te presentamos la respuesta brindada para la solicitud de dar privilegios a su usuario como <b>${tipoUsuario}</b>, la cual ha sido <b>${estado}</b>.
                                </td>
                            </tr>
                            ${comentario}
                            ${codigo}
                            <tr>
                                <td>
                                    <br/><br/><br/><br/>
                                    <img src="https://img.matisses.co/360/BCS/cont-details2.png" alt="details"/>
                                </td>
                            <hr>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <img src="https://img.matisses.co/360/BCS/cont-phone.png" alt="phone"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <img src="https://img.matisses.co/360/BCS/cont-footer.png" alt="footer"/>
                                    <hr>
                                </td>
                            </tr>
                            <tr>
                            <tr>
                                <td>
                                    <table style="width: 100%">
                                        <tr>
                                            <td>
                                                <a href="https://www.matisses.co/tiendas">
                                                    <img src="https://img.matisses.co/360/BCS/btn-tiendas.png" alt="tiendas"/>
                                                </a> 
                                            </td>
                                            <td>
                                            </td>
                                            <td> 
                                                Con&eacute;ctate con nosotros
                                            </td>
                                            <td>
                                                <a href="https://www.facebook.com/matissesfanpage">
                                                    <img src="https://img.matisses.co/360/BCS/icon-facebook.png" alt="facebook"/>
                                                </a>
                                                <a href="https://www.instagram.com/matisses/">
                                                    <img src="https://img.matisses.co/360/BCS/icon-instagram.png" alt="instagram"/>
                                                </a>
                                                <a href="https://co.pinterest.com/matisses/">
                                                    <img src="https://img.matisses.co/360/BCS/icon-pinterest.png" alt="pinterest"/>
                                                </a>
                                                <a href="https://www.houzz.es/pro/matisses/matisses">
                                                    <img src="https://img.matisses.co/360/BCS/icon-houzz.png" alt="houzz"/>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </columns>
    </row>
</container>