<style type="text/css">
    body, html, .body {
        font-family: "Century Gothic"; 
        font-size: 16px; 
        font-style: normal; 
        font-weight: 500;
        color: #444;
    }

    hr {
        color: #D9D6D6;
        height: 1px;
        border: 0;
    }

    p span a {
        color: #FFFFFF;
    }
</style>
<container>
    <spacer size="16"></spacer>
    <row>
        <columns large="8">
            <table style="width: 100%; text-align: center">
                <tr>
                    <td>
                        <table style="width: 60%; text-align: center">
                            <tr>
                                <td>
                                    <img src="https://img.matisses.co/360/BCS/cont-header.png" alt="header"/>
                                </td>
                            </tr>
                            <tr style="letter-spacing: 3.5px; color: #6D9197;">
                                <td>
                                    MI CUENTA
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left; padding-top: 60px;">
                                    <b style="color: #6D9197; font-size: 20px">Hola ${cliente},</b>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left; padding-top: 20px; padding-bottom: 20px;">
                                    ${comentario}
                                </td>
                            </tr>
                            ${mensaje}
                            <tr>
                                <td>
                                    ${tabla}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right; padding-bottom: 40px; cursor: pointer;">
                                    <a href="${link}">
                                        <img src="https://img.matisses.co/360/BCS/btn-comprar2.png" alt="web"/>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <img src="https://img.matisses.co/360/BCS/cont-details-login.png" alt="details"/> 
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <img src="https://img.matisses.co/360/BCS/cont-phone.png" alt="phone"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <img src="https://img.matisses.co/360/BCS/cont-footer.png" alt="footer"/>
                                    <hr>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="width: 100%">
                                        <tr>
                                            <td>
                                                <a href="https://www.matisses.co/tiendas">
                                                    <img src="https://img.matisses.co/360/BCS/btn-tiendas.png" alt="tiendas"/>
                                                </a> 
                                            </td>
                                            <td></td>
                                            <td>
                                                Con&eacute;ctate con nosotros
                                            </td>
                                            <td>
                                                <a href="https://www.facebook.com/matissesfanpage">
                                                    <img src="https://img.matisses.co/360/BCS/icon-facebook.png" alt="facebook"/>
                                                </a>
                                                <a href="https://www.instagram.com/matisses/">
                                                    <img src="https://img.matisses.co/360/BCS/icon-instagram.png" alt="instagram"/>
                                                </a>
                                                <a href="https://co.pinterest.com/matisses/">
                                                    <img src="https://img.matisses.co/360/BCS/icon-pinterest.png" alt="pinterest"/>
                                                </a>
                                                <a href="https://www.houzz.es/pro/matisses/matisses">
                                                    <img src="https://img.matisses.co/360/BCS/icon-houzz.png" alt="houzz"/>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </columns>
    </row>
</container>